body {
    background-image: url(../images/dust_scratches.png);
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}

header{
    background-color: #eee;
    height: 60px;
}
h1 {
    width:50%;
    margin: auto;
    padding-top:10px;
   
}
.signIn{
    text-align: center; 
    margin: 5px auto;
    font-size: 16px;
}
.player1, .player2, .result{
    border: 1px solid black;
    height: 250px;
}

.playground{
    width: 80%;
    margin: 10px auto;
}

.chatbox{
    width: 70%;
    margin: 20px auto;
    height: 150px;
}

.playground p{
    font-size: 20px;
    line-height: 1.8em;
}
