body {
    background-image: url(../images/dust_scratches.png);
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}
.title{
    background-color: #eee;
}
h1 {
    margin-top:0px;
    padding-top:10px;
    padding-bottom:10px;
}
h2 {
    font-size: 20px;   
}
h3{
    font-size: 16px;
}
ol{
    list-style: none;
    font-size: 16px;
    text-align: center;
    width:100%;
    margin:auto;
    padding-left:0px;  
}
.player{
    position: relative;
}
.player h2{
    margin-bottom: 30px;
}
.score{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    width:100%;
    margin:auto;
}
.picked, .resultDiv{
    font-size: 23px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.picked{
    width: 100%;
    height: 50%;
    margin: auto;
    text-align:center;
}
.signIn{
    text-align: center; 
    margin: 10px auto;
    font-size: 16px;
}
.player, .resultDiv{
    border: 1px solid black;
    height: 220px;
    margin: auto;
}
.result{
    margin-top: 30px;
    text-align:center;
    
}
.active{
    border: 2px solid yellowgreen;
}
.playground{
    width: 100%;
    margin: 5px auto;
}
.chatbox{
    width: 70%;
    margin: 20px auto;
    height: 150px;
}
#messages{
    height: 150px;
    background: white;
    margin: 3px 0px 3px 0px;
    border: 1px solid lightgrey;
    overflow: auto;
    line-height: 1.3em;
    text-align: left;
    padding: 10px;
}
.option:hover{
    background-color: lightyellow;
    cursor: pointer;
}

@media (min-width: 576px) {
    h2 {
        font-size: 24px;   
    }
    ol, .score, h3{ 
        font-size: 20px;
    }
    .picked, .resultDiv{
        font-size: 35px;
    }
 }
 @media (min-width: 768px) {
    .picked, .resultDiv{
        font-size: 50px;
    }
 }
 @media (min-width: 992px) {
    .player,.resultDiv{
        width: 80%;
    }
    .p1{
        left: 60px;
    }
    .p2{
        right: 60px;
    }

 }
 @media (min-width:1200px) {
    .chatbox{
        width: 50%;
    }
    .resultDiv{
        width: 60%;
    }
 }
