body {
    background-image: url(../images/dust_scratches.png);
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}

header{  
    height: 60px;
    width: 100%;
}
.title{
    background-color: #eee;
    padding-left:0;
    padding-right:0;
}
h1 {
    width:50%;
    margin: auto;
    padding-top:10px;
    padding-bottom:10px;
}
h2 {
    font-size: 24px;
    margin:10px;
}
.player h2 {
    margin-bottom: 5px;
}
h3{
    font-size: 20px;
}
.signIn{
    text-align: center; 
    margin: 10px auto;
    font-size: 16px;
}
.player, .resultDiv{
    border: 1px solid black;
    height: 220px;
}
.active{
    border: 2px solid yellowgreen;
}
.playground{
    width: 90%;
    margin: 10px auto;
}
.player{
    position: relative;
}
.score{
    position: absolute;
    bottom: 10px;
    width:100%;
    margin:auto;
}
.chatbox{
    width: 70%;
    margin: 20px auto;
    height: 150px;
}

.playground p{
    font-size: 20px;
    line-height: 1.5em;
}

.score{
    position: absolute;
    bottom: 10px;
}
.options{
    max-height: 100px;
}
.option{
    width: 50%;
    margin: 10px auto;
}
.option:hover{
    background-color: lightyellow;
    cursor: pointer;
}
.picked, .resultDiv{
    font-size: 45px;
    font-weight: bold;
    font-family: sans-serif;
}
.picked{
    position:absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    margin: auto;
    text-align:center;
}
.result{
    margin-top: 30px;
    text-align:center;
    
}
